@charset "utf-8";

.aisai-wrap {
  position: relative;
  top: 0;
  bottom: 0;
  height: 100%;

  .aisai-content {
	height: 100%;
	background: white;

	.aisai-content-main {
	  position: absolute;
	  top: 0;
	  right: $sidebar_width;
	  bottom: $footer_height;
	  left: 0;

	  .aisai-content-main__form {
		position: relative;
		height: $form_height;

		.aisai-searchform {
		  margin: 10px 5px 0 5px;
		}
		.aisai-searchtab {
		  margin: 0 5px 0 5px;
		}
	  }
	  .aisai-content-main__provider-result {

		.aisai-content-main__error-message {
		  margin: 10px 5px 0 5px;
		  color: red;
		}

		.aisai-content-main__result-items {
		  position: absolute;
		  top: $form_height + 15px;
		  bottom: 0;
		  width: 100%;

		  max-height: 100%;
		  overflow: auto;

		  ul {
			margin: 0;
			padding: 0;

			li {
			  float: left;
			  margin: 0;
			  padding: 0;

			  .aisai-result-item {
				margin: 5px;
			  }
			}
		  }
		}
		.aisai-content-main__result-items--hasmore {
		  @extend .aisai-content-main__result-items;
		  bottom: $pager_height;
		}
		.aisai-content-main__pagination {
		  position: absolute;
		  bottom: 0;
		  height: $pager_height;

		  ul {
			margin: 8px;
			padding: 0;
		  }
		}
	  }
	}
	.aisai-content-sidebar {
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: $footer_height;
	  width: $sidebar_width - 1px;

	  max-height: 100%;
	  overflow: auto;

	  border-left: 1px solid #ddd;
	  background: #f3f3f3;

	  .aisai-content-sidebar__acf-items {

		.aisai-acf-item {
		  margin: 5px ($sidebar_width - $acf-item_size) / 2;
		}
	  }
	}

  }
  .aisai-footer {
	position: absolute;
	bottom: 0;
	height: $footer_height - 1px;
	width: 100%;
	background: #fcfcfc;
	border-top: 1px solid #dfdfdf;

	text-align: right;

	button {
	  margin: 13px 20px;
	}
  }

  .aisai-wrap__loading {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: white;
	opacity: 0.5;
	z-index: 999;

	img {
	  position: absolute;
	  top: 0;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  margin: auto;
	}
  }
}

#media-upload-header {
  & + .aisai-wrap {
	top: 36px;
	.aisai-content {
	  height: 95%;
	}
  }
}
